# dependencies
/node_modules

# env files (VERY IMPORTANT)
.env
.env.*
*.env

# local scripts & secrets
import-*.js
seed-*.js
create-*.js
check-*.js
reset-*.js
update-*.js
test-*.js

# database / dumps
*.sql

# cookies / session dumps
*cookies*.txt